<!--
 * @Author: Ethan Jiang jhmhehe@gmail.com
 * @Date: 2022-05-17 01:30:46
 * @LastEditors: Ethan Jiang jhmhehe@gmail.com
 * @LastEditTime: 2022-05-17 01:35:47
 * @FilePath: /mycodespaces/views/index.ejs
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<!DOCTYPE html>
<html>
  <head>
    <title>Haikus for Mona</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Haikus for Mona">
    <meta property="og:description" content="Some of the best haikus you'll ever read about our rescue dog June">
    <meta property="og:image" content="/images/sunlight.jpg">
  </head>
  <body>
    <h1>Haikus for JiangHoumin</h1>
    <div>
      <% for(var i=0; i < haikus.length; i++) { %>
        <img
          class="mona-images"
          src="images/<%= haikus[i].image %>" />
        <div 
          class="haiku-containers">
          <p 
            class="haikus"
          ><%- haikus[i].text %></p>
        </div>
      <% } %>
    </div>
</html>
